---
permalink: /css/vars.css
---

:root {
    --mask-team: url('{{ "/img/mask-team.png" | url }}');
    --mask-top: url('{{ "/img/mask-top.png" | url }}')
    --mask-bottom: url('{{ "/img/mask-bottom.png" | url }}')
}